{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'home.css' %}">

<body  bgcolor="#4e092b">
 

    <header
    class="home-containerr">
      <h1 style= 
      "top: 250px;
      left:450px;
      color: #FFFFFF;
      height: 40px;
      position: absolute;
      font-size: 60px;
      align-self: center;
      font-style: normal;
      text-align: center;
      font-family: Merriweather;
      font-weight: 600;" 
      class="home-text">Depression</h1>

      <h1 style= 
      "top: 250px;
      left:740px;
      color: #ff3838;
      height: 40px;
      position: absolute;
      font-size: 60px;
      align-self: center;
      font-style: normal;
      text-align: center;
      font-family: Merriweather;
      font-weight: 600;" 
      class="home-text">Analyzer</h1>

      <h1 style= 
      "top: 250px;
      left:970px;
      color: #FFFFFF;
      height: 40px;
      position: absolute;
      font-size: 60px;
      align-self: center;
      font-style: normal;
      text-align: center;
      font-family: Merriweather;
      font-weight: 600;" 
      class="home-text">via.</h1>

      <h1 style= 
      "top: 250px;
      left:1070px;
      color: #ff3838;
      height: 40px;
      position: absolute;
      font-size: 60px;
      align-self: center;
      font-style: normal;
      text-align: center;
      font-family: Merriweather;
      font-weight: 600;" 
      class="home-text">Social media</h1>

      

      


      <img src="{% static 'DepressTrack_App/media/image.png' %}"  alt="image"
      style="top: 430px;
      left: 300px;
      width: 1200px;
      height: 600px;
      position: absolute;"/>

      <img src="{% static 'DepressTrack_App/media/toppng.com-robot-png-473x630.png' %}"  alt="image"
      style="top: -550px;
      left: 620px;
      width: 640px;
      height: 850px;
      position: absolute;"/>

      <img src="{% static 'DepressTrack_App/media/clipart1352882.png' %}"  alt="image" onclick="location.href = '/Twitter'"
      style="top: 443px;
      left: 750px;
      width: 87px;
      height: 93px;
      position: absolute;
      object-fit: cover;"/>


      <img src="{% static 'DepressTrack_App/media/icons8-multiline-text-50.png' %}"  alt="image" onclick="location.href = '/Text_based'"
      style="top: 443px;
      left: 950px;
      width: 100px;
      position: absolute;
      object-fit: cover;
      text-decoration: none;"/>

    


      
    
      
  
    


</body>
</html>